<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Node.js MVC</title>
    <meta name="description" content="Build a Node.js MVC web app with Webpack, Babel, TypeScript or ES, critical CSS">
</head>

<body class="bg-gray-400 leading-normal tracking-normal">

    <!-- partial -->
    {{> nav}}

    <div class="mx-auto bg-white mt-24 md:mt-16 h-screen">
    </div>

</body>

<script nonce="{{nonce}}">
    console.log("CSP: example of inline script using a cryptographic nonce")
</script>

</html>